{% extends 'home/base.html' %}

{% load static %}

{% block content %}
    {% for s in ser %}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{s.imagen.url}}" style="height: 65%;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-upper">{{s.titulo}}</span>
                <span class="section-heading-lower">{{s.contenido}}</span>
              </h2>
          
            </div>
          </div>
        </div>
      </section>

        
    {% endfor %}

{% endblock content %}